.battle-container {
   width: 100%;
   height: 100%;
   display: flex;
   position: relative;

   .side-menu {
      width: 10%;
      height: 100%;
      padding: 20px;
      position: absolute;
      z-index: 1;

      .menu-list {
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;
         background-color: #000000b7;
         border-radius: 15px;

         .menu-item {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: auto 50%;
            background-position: center center;
            cursor: pointer;
            position: relative;
         }

         .menu-item:hover {
            background-color: #5151518b;
         }

         .menu-item::after {
            visibility: hidden;
            display: inline-block;
            content: '';
            padding: 10px;
            background-color: #00000087;
            color: #fff;
            white-space: nowrap;
            left: 110%;
            position: absolute;
            top: 50%;
            font-size: 20px;
            transform: translateY(-50%);
            font-weight: 900;
            border-radius: 10px;
         }

         .menu-item:nth-child(1) {
            background-image: url('../../assets/game/home\ \(2\).png');
         }

         .menu-item:nth-child(1):hover::after {
            visibility: visible;
            content: '返回首頁';
         }

         .menu-item:nth-child(2) {
            background-image: url('../../assets/game/005-idea-2.png');
         }

         .menu-item:nth-child(2):hover::after {
            visibility: visible;
            content: '新增想法';
         }

         .menu-item:nth-child(3) {
            background-image: url('../../assets/game/011-ask.png');
         }

         .menu-item:nth-child(3):hover::after {
            visibility: visible;
            content: '新增提問';
         }

         .menu-item:nth-child(4) {
            background-image: url('../../assets/game/015-information.png');
         }

         .menu-item:nth-child(4):hover::after {
            visibility: visible;
            content: '新增資訊';
         }

         .menu-item:nth-child(5) {
            background-image: url('../../assets/game/016-potion.png');
         }

         .menu-item:nth-child(5):hover::after {
            visibility: visible;
            content: '新增實驗';
         }
         .menu-item:nth-child(6) {
            background-image: url('../../assets/game/023-note.png');
         }

         .menu-item:nth-child(6):hover::after {
            visibility: visible;
            content: '新增紀錄';
         }
      }
   }

   .center {
      width: 100%;
      height: 100%;
   }

   .battle-right-info {
      width: 25%;
      height: 35%;
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: #000000b7;
      border-radius: 15px;
      text-align: center;
      padding: 20px;
      right: 20px;
      bottom: 20px;

      img {
         height: 85%;
      }

      .bar-container {
         color: #fff;
         width: 80%;
         display: flex;
         justify-content: center;
         align-items: center;
         position: relative;
         left: 50%;
         transform: translateX(-50%);

         h4 {
            font-size: 24px;
            margin-right: 15px;
         }

         .bar-outer {
            margin-left: 10px;
            width: 100%;
            height: 15px;
            border-radius: 10px;
            background-color: #333333;

            .bar {
               width: 50%;
               height: 100%;
               border-radius: 10px;
               background-color: #b61010;
            }
         }
      }

      .icon-button {
         text-align: left;
         cursor: pointer;
      }
   }
}
