.battle-container {
   width: 100vw;
   height: 100vh;
   display: flex;
   position: relative;
   background-image: url('../../assets/game/blur_bg.jpg');
   background-size: cover;
   overflow: hidden;

   .side-menu {
      width: 10%;
      height: 100%;
      padding: 20px;
      position: absolute;
      z-index: 1;

      .menu-list {
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;
         background-color: #000000b7;
         border-radius: 15px;

         .menu-item {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: auto 50%;
            background-position: center center;
            cursor: pointer;
            position: relative;
         }

         .menu-item:hover {
            background-color: #5151518b;
         }

         .menu-item::after {
            visibility: hidden;
            display: inline-block;
            content: '';
            padding: 10px;
            background-color: #00000087;
            color: #fff;
            white-space: nowrap;
            left: 110%;
            position: absolute;
            top: 50%;
            font-size: 20px;
            transform: translateY(-50%);
            font-weight: 900;
            border-radius: 10px;
         }

         .menu-item:nth-child(1) {
            background-image: url('../../assets/game/home\ \(2\).png');
         }

         .menu-item:nth-child(1):hover::after {
            visibility: visible;
            content: '返回首頁';
         }

         .menu-item:nth-child(2) {
            background-image: url('../../assets/game/005-idea-2.png');
         }

         .menu-item:nth-child(2):hover::after {
            visibility: visible;
            content: '新增想法';
         }

         .menu-item:nth-child(3) {
            background-image: url('../../assets/game/011-ask.png');
         }

         .menu-item:nth-child(3):hover::after {
            visibility: visible;
            content: '新增提問';
         }

         .menu-item:nth-child(4) {
            background-image: url('../../assets/game/015-information.png');
         }

         .menu-item:nth-child(4):hover::after {
            visibility: visible;
            content: '新增資訊';
         }

         .menu-item:nth-child(5) {
            background-image: url('../../assets/game/016-potion.png');
         }

         .menu-item:nth-child(5):hover::after {
            visibility: visible;
            content: '新增實驗';
         }
         .menu-item:nth-child(6) {
            background-image: url('../../assets/game/023-note.png');
         }

         .menu-item:nth-child(6):hover::after {
            visibility: visible;
            content: '新增紀錄';
         }
      }
   }

   .center {
      width: 90%;
      height: 100%;
      flex: 1;
      overflow: auto;
      position: fixed;
      top: 0;
      left: 10%;

      .title {
         width: 65%;
         position: absolute;
         z-index: 1;

         .common-container {
            position: relative;
         }

         h1 {
            color: #311b1b;
            font-size: 65px;
            margin-left: 20px;
            margin-top: -20px;
         }
      }
   }
}

.battle-right-info {
   max-width: 15%;
   height: 90%;
   display: flex;
   flex-direction: column;
   position: fixed;
   text-align: center;
   padding: 20px;
   right: 0;
   z-index: 0;
}

.monster-container {
   background-color: #000000b7;
   border-radius: 15px;
   padding: 20px;
   width: 100%;
   height: 25%;

   .bar-container {
      color: #fff;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      left: 50%;
      transform: translateX(-50%);

      h4 {
         font-size: 24px;
         margin-right: 15px;
      }

      .bar-outer {
         width: 100%;
         height: 15px;
         border-radius: 10px;
         background-color: #333333;

         .bar {
            width: 0;
            height: 100%;
            border-radius: 10px;
            background-color: #ffc21b;
         }
      }
   }

   .img-container {
      height: 70%;
      margin-bottom: 20px;
      display: flex;

      .monster {
         width: 100%;
         img {
            width: auto;
            height: 100%;
         }
      }
   }
}

.team-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
   align-self: flex-end;
   direction: rtl;

   .user-item {
      img {
         width: auto;
         height: 60px;
      }
   }
}

.bag-container {
   margin: 20px 0;
   height: 10%;
   display: flex;
   align-items: center;

   .bag-button {
      position: absolute;
      width: 80px;
      right: 20px;
      cursor: pointer;

      img {
         width: 100%;
         height: auto;
      }
   }
}
