.lobby-container {
   width: 100%;
   height: 100%;
   display: flex;

   h1 {
      color: #00000095;
      margin: 20px 0;
   }

   .eventlist-container {
      width: 75%;
      height: 100%;
      text-align: center;
      .list-container {
         width: 100%;
         height: calc(100% - 89px);
         overflow-y: auto;

         .list {
            display: flex;
            flex-wrap: wrap;

            .eventitem-container {
               background-image: url('../../assets/game/board.png');
               background-size: 80% 80%;
               background-position: center center;
               background-repeat: no-repeat;
               height: 500px;
               width: 50%;
               padding: 120px 150px;
               position: relative;
               text-align: left;

               p {
                  font-size: 30px;
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                  text-overflow: hidden;
               }

               .play {
                  display: inline-block;
                  width: 40%;
                  height: auto;
                  position: absolute;
                  bottom: 200px;
                  left: 50%;
                  transform: translateX(-50%);

                  img {
                     position: absolute;
                     width: 100%;
                     height: auto;
                  }
               }
            }
         }
      }
   }
   .ranking-container {
      width: 25%;
      height: 100%;
      background-color: #00000095;

      h2 {
         color: #ffffff;
         padding: 0;
         margin: 30px auto;
         text-align: center;
      }

      .ranking-list {
         overflow-y: auto;
         width: 100%;
         height: 100%;

         .ranking-scroll {
            width: max-content;
            margin: 0 auto;

            h2 {
               color: #ffe882;
            }

            .rankingitem-container {
               display: flex;
               justify-content: flex-start;
               align-items: center;
               margin: 20px 0;

               .rank {
                  width: 50px;
                  height: auto;
                  margin-right: 15px;

                  img {
                     width: 100%;
                     height: 100%;
                  }

                  h3 {
                     color: #fff;
                     font-size: 50px;
                     padding: 0;
                     line-height: normal;
                  }
               }
               .name {
                  color: #fff;
                  font-size: 30px;
               }
            }
         }
      }
   }
   .avatar-container {
      position: absolute;
      text-align: center;
      background-color: #572821d4;
      padding: 30px 80px;
      border-radius: 50% 50%;
      left: 30px;
      bottom: 30px;
      cursor: pointer;

      img {
         width: 150px;
      }
      p {
         color: #fff;
         padding: 0;
         font-size: 30px;
         font-weight: 900;
      }
   }
}
